<!DOCTYPE html>
<html>
<body>

  <form action="/" method="post">
    <p><label for="name">Name: </label><input type="text" name="name"></p>
    <p><label for="breed">Breed: </label><input type="text" name="breed"></p>
    <p><label for="age">Age: </label><input type="text" name="age"></p>
    <p><button type="submit">submit</button></p>
  </form>


</body>
</html>
